.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /* grid-template-columns: 60px 60px; */
    background-color: aqua;
    border: 12px solid gray;
    gap: 25px 50px;
    /* column-gap: 50px; */
    padding: 10px;
    
}
.container3{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-template-areas: 
        "header header header"
        "sidebar main main"
        "sidebar footer footer"
        ;
        grid-gap: 10px;
    
}
.sak1{
    grid-area: header;
    background-color: red;
}
.sak2{
    grid-area: sidebar;
    background-color: blue;
}
.sak3{
    grid-area: main;
    background-color: yellow;
}
.sak4{
    grid-area: footer;
    background-color: brown;
}
.container2{
    display: grid;
    grid-template-columns: 66px 66px 66px auto;
    gap: 15px;
}
/* @media screen { 
    
}     */
.item:nth-child(1){
    grid-column: 1/4;
}
.item:nth-child(3){
    grid-row: 2 / span 3;
}
.item{
    background-color: greenyellow;
    border: 2px solid darkgray;
    padding: 20px;

}
.item1{
    grid-column: 1/4;
    background-color: aqua;

}
.item3{
    background-color: yellow;
    /* grid-column-start: 1;
    grid-row-start: 3 span ; */
    grid-row: 2 / span 3;
}
div{
    background-color: white;
    border: 2px solid darkgray;
    padding: 20px;
}
.div1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: yellow;

}
.div8{
    grid-column: 1 / span 3;
    background-color: blue;
    text-align: center;
    padding: 20px;

}
