.title {
    color: green;
    margin: auto;
    border: 2px;
    padding: 50px;
    font-size: large;
}

.background{
    color: blue;
}
.mainDiv {
    margin: 50px;
    padding: 20px;
}

.div1{
    float: left;
    padding: 10px;
    border: 3px solid blue;
}
.div2{
    padding: 10px;
    border: 3px solid green;
    
}
.div3{
    float: left;
    padding: 10px;
    border: 3px solid black;
    
}
.div4{
    padding: 10px;
    border: 3px solid yellow;
    clear: left;
}

/* test */
header{
    background-color: darkcyan;
    padding: 10px;
    color: white;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
}

nav{
    overflow: hidden;
    background-color: black;

}

nav ul{
    margin: 0px;
    padding: 0px;
    text-align: center;

}
nav ul li{
    display: inline;

}
nav ul li a{
    color: white;
    padding: 10px 10px;
    display: inline-block;
}
nav ul li a:hover{
    background-color: white;
    color: black;
}

aside{
    border: 3px solid gray;
    padding: 20px;
    margin: 10px;
}
section{
    padding: 20px;
    margin: 20px;
    background-color: whitesmoke;
    border-radius: 5px;

}
/* article{
    border: 3px solid gray;
    padding: 20px;


} */
footer{
    background-color: darkcyan;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}