.title {
    color: green;
    margin: auto;
    border: 2px;
    padding: 50px;
    font-size: large;
}

.background{
    color: blue;
}
.mainDiv {
    margin: 50px;
    padding: 20px;
}

.div1{
    float: left;
    padding: 10px;
    border: 3px solid blue;
}
.div2{
    
}
.div3{
    
}
.div4{
    
}